# Backend Dependencies
# Synced with pyproject.toml

google-search-results>=2.4.2
langchain>=1.1.2
langchain-google-genai>=3.2.0
serpapi>=0.1.5
youtube-transcript-api>=1.2.3
langgraph
pyyaml
langchain-text-splitters>=1.0.0
pinecone>=5.0.0
pydantic>=2.12.5
fastapi>=0.124.4
uvicorn>=0.38.0
requests>=2.31.0
python-dotenv>=0.9.9
edge-tts>=6.1.0
